tableYgrilla {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px; }
  tableYgrilla tabla {
    margin-top: 100px;
    margin-right: 70px;
    width: 67%; }
    tableYgrilla tabla tabla__h1h2 {
      font-family: 'Raleway', sans-serif; }
    tableYgrilla tabla tabla__talle {
      width: 300px; }
    tableYgrilla tabla tabla__medidas {
      font-family: 'Raleway', sans-serif; }
  tableYgrilla grilla {
    margin-top: 50px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 100px 400px; }
    tableYgrilla grilla grilla__talle {
      color: black;
      font-style: italic;
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      justify-items: center; }
