tableYgrilla{
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    tabla {
        margin-top: 100px;
        margin-right: 70px;
        width: 67%;
            tabla__h1h2{
                font-family: 'Raleway', sans-serif;
            }
            tabla__talle{
                width: 300px;
            }
            tabla__medidas{
                font-family: 'Raleway', sans-serif;
            }
    }
    grilla {
        margin-top: 50px;
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: 400px;
        grid-template-rows: 100px 400px;
        grilla__talle {color: black;
            font-style: italic;
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
            justify-items: center;
        }
    }

}